doctype html
html
    head
        title Chotot
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        //- link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        //- link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body
        block main-content
        include scripts
          
